*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: rgb(59, 58, 57);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 20px 0px 30px;
}
.container .heading{
    width: 40%;
    padding-bottom: 20px;
}
.container .heading h3{
    font-weight: bolder;
    color: rgb(155, 155, 148);
    font-size: 30px;
    border-bottom: 3px solid  rgb(155, 155, 148);
    padding-bottom: 10px;
}
.container .heading h3 span{
    font-weight: 20;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.container .box .first{
display: flex;
    flex-direction: column;
    width: 30.5%;
}
.container .box .first img:hover{
    transform: scale(1.025);
    box-shadow: 3px 4px 10px 10px rgb(32, 32, 32);
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.container .box .first img{
    width: 100%;
    padding-bottom: 16px;
    border-radius: 7px;

}
@media only screen and (max-width:800px){
    .container .box{
        display: flex;
        flex-direction: column;
    }
    .container .box .first{
        width: 100%;
    }
    .container .box .first img{
        padding-bottom: 15px;
        border-radius: 9px;
    
    }

    
}
@media only screen and (max-width:570px){
    .container .box{
        display: flex;
        flex-direction: column;
    }
    .container .box .first{
        width: 100%;
    }
    .container .box .first img{
        padding-bottom: 15px;
        border-radius: 9px;
    
    }
    .container .heading{
        width: 100%;
    }
    .container .heading h3{
        font-size: 1em;
    }
    


    
}